.random-name {
  test: asdas;
  width: 500px;
  height: 500px;
  display: block;
  overflow: auto;
  font-size: 16px;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Open Sans';
  background-size: cover;
  background-color: #cc0000;
  background-image: url('https://images.unsplash.com/photo-1571942662090-0d81d067ca19?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjkxMzIxfQ');
}
.heading1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 0.67em;
}
